<!DOCTYPE html>
<html>
  <head>
    <title>Clement's Mystery Game - Welcome!</title>
    <meta charset="utf-8">
    <link href="styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
    <h1>Clement's Mystery Word Guessing Game</h1>
    <h2>Click Start when ready</h2>
    <div class="start-button-box">
      <form action="/game">
        <input class="start-game-submit" name="startSubmit" type="submit" value="Start Game!"></div>
      </form>
    </header>

  <script src="jscode.js"></script>
  </body>
</html>
